[Unit]
Description=Monitor upd-indicator rules for updates
After=gnome-session.target

[Service]
ExecStart=~UPD_MONITOR_HOME~/upd_monitor.sh process -v

[Install]
WantedBy=upd-indicator-monitor.timer
