.upd-indicator-icon-green {
  color: lightgreen;
  background-color: transparent;
  height: 20px;
  width: 20px;
}

.upd-indicator-icon-normal {
  color: white;
  background-color: transparent;
  height: 20px;
  width: 20px;
}

.upd-indicator-icon-blink {
  color: blue;
  background-color: transparent;
  height: 20px;
  width: 20px;
}
