.panel-button-icon {
  background-color: transparent;
  height: 20px;
  width: 20px;
}

.upd-indicator-menu-item-name {
  font-weight: semibold;
}

.upd-indicator-menu-item-status {
  color: gold;
}

.upd-indicator-menu-item-extra {
  color: aquamarine;
}
